body{
    background-color: "#0D1A2D";
    padding: "20px";
    width: "300px";
    color: "white";
    border-radius: "15px";
    box-shadow: "15px 10px 10px 10px black"
}

.itemContainer{
    display: "flex";
    align-items: "center";
    justify-content: "center";
    height: "100vh";
    width: "100%";
    background-color: "#181818";
}

img {
    padding: "5px 5px 0px 5px";
    border-radius: "50px";
    max-width: "100%";
    position: "relative";
}

p {
    font-weight: "bold";
    font-size: "1.5em";

}
hr {
    width: "95%";
    color: "lightgrey";
}

.desc {
    color: "lightgrey";
}
.seller {
    display: "flex";
    justify-content: "flex-start";
    align-items: "center";

}

.imground {
    border-radius: "50%";
    width: "10%";
}

span{
    margin-left: "5%";
    margin-right: "2%";  
    color: "lightgrey";
}

.divflex {
    display: "flex"; 
    justify-content: "space-between";
    align-items: "center";
}